<div class="container">
  <h1>I am the parent-app 👋</h1>
  <div>
    <div>
      <button
        id="btnParent"
        type="button"
        class="btn btn-primary"
        (click)="sendMessage('This is the message sent from the parent-app')"
      >
        Send Message to Child App
      </button>
    </div>
    <div *ngIf="messageToChild">
      Message Sent: <span style="color: blue">{{ messageToChild }}</span>
    </div>
  </div>
  <hr />
  <div class="my-5">
    <div id="welcome">
      <h1>I am the child-app 👋</h1>
    </div>
    <div class="my-2">
      <div class="row my-2">
        <div class="col element-blue">
          <iframe
            id="childAppIframe"
            class=""
            src="http://localhost:5001"
            width="100%"
            height="500px"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
